<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lodz.android.designpatterndemo">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="database_name"
            android:value="@string/database_access" >
        </meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".designpattern.factory.simplefactory.SimpleFactoryActivity">
        </activity>

        <activity android:name=".designpattern.factory.factorymethod.FactoryMethodActivity">
        </activity>

        <activity android:name=".designpattern.factory.abstractfactory.AbstractFactoryActivity">
        </activity>

        <activity android:name=".designpattern.strategy.StrategyActivity">
        </activity>

        <activity android:name=".designpattern.decorator.DecoratorActivity">
        </activity>

        <activity android:name=".designpattern.proxy.staticproxy.StaticProxyActivity">
        </activity>

        <activity android:name=".designpattern.proxy.dynamicproxy.DynamicProxyActivity">
        </activity>

        <activity android:name=".designpattern.prototype.PrototypeActivity">
        </activity>

        <activity android:name=".designpattern.template.TemplateActivity">
        </activity>

        <activity android:name=".designpattern.facade.FacadeActivity">
        </activity>

        <activity android:name=".designpattern.builder.BuilderActivity">
        </activity>

    </application>

</manifest>